.DS_Store
**/.DS_Store

.vscode
.idea

cgi-bin
document_errors
logs
private
public_shtml
stats

*.zip
*.tar

node_modules

public_html/node_modules/
public_html/*.zip
public_html/*.tar
public_html/cache

public_html/wp-config.php
public_html/wp-content/upgrade/es_ES-NpP3Vc
public_html/wp-content/ai1wm-backups
public_html/wp-content/uploads/wc-logs
public_html/wp-content/uploads/*
public_html/*.swp
public_html/wp-content/upgrade/*
public_html/wp-content/languages/*
public_html/wp-content/ai1wm-backups/*
public_html/wp-content/*.tar.gz
public_html/wp-content/plugins/*

public_html/wp-admin/
public_html/wp-admin-old/
public_html/wp-includes/
public_html/wp-includes-old/
public_html/wp-signup.php
public_html/wp-login.php
public_html/wp-trackback.php
public_html/wp-settings.php
public_html/wp-mail.php
public_html/wp-load.php
public_html/wp-signup.php
public_html/wp-links-opml.php
public_html/wp-cron.php
public_html/wp-config-sample.php
public_html/wp-comments-post.php
public_html/wp-blog-header.php
public_html/wp-activate.php
public_html/wordfence-waf.php
public_html/robots.txt
public_html/report.csv
public_html/readme.html
public_html/license.txt
public_html/index.php
public_html/.htaccess

public_html/sitemap.xml
public_html/.user.ini
public_html/wp-content/updraft/

public_html/wp-content/mu-plugins/
public_html/xmlrpc.php

public_html/wp-load-old.php
public_html/wp-login-old.php
public_html/wp-mail-old.php
public_html/wp-settings-old.php
public_html/wp-signup-old.php
public_html/wp-trackback-old.php
public_html/xmlrpc-old.php
public_html/wp-activate-old.php
public_html/index-old.php
public_html/wp-blog-header-old.php
public_html/wp-comments-post-old.php
public_html/wp-config-sample-old.php
public_html/wp-cron-old.php
public_html/wp-links-opml-old.php
public_html/license-old.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
